body {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0px;
    text-align: center;
    color: white;

    background-position: 30% 45%;
    background-color: lightgray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: 0px;
}

header {
    background-color: darkred;
    color: white;
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-items: center;

}

.container figure {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    word-spacing: 500px;

}

nav a {
    text-decoration: white;
    color: rgb(255, 0, 0);
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #ff0000;
    text-decoration: underline;
    cursor: crosshair;

}


.container figure::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.container figure:hover::after {
    opacity: 2;
}

footer {

    background-color: darkred;
}


.container figcaption {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 238, 255);
    color: rgb(51, 136, 65);
    text-align: center;
    transition: bottom 0.3s ease;

}

container figure:hover:: figcaption {
    bottom: 0;
}
